# vim: set ft=yaml:
---
switch:
  #- platform: template
  #  name: Test Sony TV ON
  #  turn_on_action:
  #    - remote_transmitter.transmit_raw:
  #        #code: [2424, -577, 1221, -580, 619, -582, 1219, -580, 619, -581, 1220, -579, 620, -580, 620, -581, 1220, -579, 620, -581, 619, -580, 619, -581, 620]
  #        code: [2400, -600, 1200, -600, 600, -600, 1200, -600, 600, -600, 1200, -600, 600, -600, 600, -600, 1200, -600, 600, -600, 600, -600, 600, -600, 600]
  #        carrier_frequency: 40kHz
  #        repeat:
  #          times: 3
  #          wait_time: 45ms

  - platform: template
    name: Test Sony TV ON
    turn_on_action:
      - remote_transmitter.transmit_sony:
          data: 0x00000A90
          nbits: 12
