# vim: set ft=yaml:
---

# Pin configuration for a DHT22 sensor
# https://esphome.io/components/sensor/dht.html
sensor:
  - platform: dht
    pin: D4
    model: DHT22_TYPE2
    temperature:
      name: "{{ room }} Temperature"
      id: dht22_temp
    humidity:
      name: "{{ room }} Humidity"
      id: dht22_hum
