# vim: set ft=yaml:
---

# Pin configuration for a DHT22 attached to a vanilla ESP8266
sensor:
  - platform: dht
    pin: D1
    model: DHT22_TYPE2
    temperature:
      name: "${room} Temperature"
    humidity:
      name: "${room} Humidity"
