# vim: set ft=yaml:
---
# Pin configuration for a HTU21D i2c temp/humidity sensor

# https://esphome.io/components/i2c.html
i2c:
  sda: D6
  scl: D7

# https://esphome.io/components/sensor/htu21d.html
sensor:
  - platform: htu21d
    temperature:
      name: "{{ room }} Temperature"
      id: htu21d_temp
    humidity:
      name: "{{ room }} Humidity"
      id: htu21d_hum
    update_interval: 60s
